src/stateMachine/learningWorkflow.asl.json
{
  "Comment": "Learning workflow to filter learners, compose reminders, and send messages",
  "StartAt": "CheckAttendance",
  "States": {
    "CheckAttendance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${CheckAttendanceFnArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.check",
      "Next": "ComposeMessages"
    },
    "ComposeMessages": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ReminderHandlerFnArn}",
        "Payload.$": "$.check.payload"
      },
      "ResultSelector": {
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.compose",
      "Next": "EnqueueMessages"
    },
    
    "EnqueueMessages": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${EnqueueMessagesFnArn}",
        "Payload.$": "$.compose.payload"
      },
      "ResultSelector": {
        "payload.$": "$.Payload"
      },
      "ResultPath": "$.enqueue",
      "End": true
    }
  }
}